.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 16px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.button {
  font-family: 'Poppins', sans-serif;
}
