.hero {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.heroContent h1 {
  font-size: 48px;
  font-weight: 700;
}

.heroContent p {
  font-size: 36px;
  font-weight: 600;
}

.heroImage img {
  width: 400px;
}
