.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.search {
  padding: 14px 20px;
  width: 502px;

  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-black);
  outline: none;
}

.searchButton {
  border-radius: 0 8px 8px 0;
  padding: 0 20px;

  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}
